.attribution { font-size: 11px;
    text-align: center;
    color: black;
    position: sticky;
    /* scroll-padding-bottom: -10px; */
    position: absolute;
    left: 0;
    right: 0;
    top: 510px;
    
}
.att { color: hsl(178, 100%, 50%); }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Outfit', sans-serif;
    }
    body{
        max-width: 1440px;
        margin: auto;

    }
    .contenedor{
        max-width: 1440px;
        height: 800px;
        margin: auto;
        display: grid;
       background-color:  hsl(212, 45%, 89%);
       align-items: center;
       justify-content: center;
       position: relative;
       
    }
    .elemento01{
     background-color: hsl(0, 0%, 100%);
     width: 320px;
     height: 495px;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
    
    }
    .elementoA{
        width: 90%;
        aspect-ratio: 1/1;
        /* background-color: rgba(255, 255, 255, 0.464); */
        margin: 18px auto;
        border-radius: 15px;
        background-image: url(images/image-qr-code.png);
        background-size: cover;
    }
    h1{
    font-size: 22px;
        margin: 5px 32px ;
        font-weight: 700;
        text-align: center;
        color:  hsl(218, 44%, 22%);
    }
    p{
        font-size: 15px;
        margin: 12px 32px ;
        text-align: center;
        font-weight: 400;
        color: hsl(220, 15%, 55%);
    }
    .logo77iu{
        color: red;
        font-weight: 900;
        padding: 2px 5px;
        text-decoration: none;
        cursor: pointer;
        background-color: lightseagreen;
        border-radius:50%;
        border: 1px solid rgba(255, 255, 255, 0.447);
        animation: logo_a 2s linear alternate infinite;
        font-family: sans-serif;
    
    }
    @keyframes logo_a{
        0%{background-color: lightseagreen;}
        100%{background-color: white;}
    }
    @media only screen and (max-width: 376px){
        .contenedor{
            max-width: 1440px;
            height:100vh;
            margin: auto;
            display: grid;
           background-color:  hsl(212, 45%, 89%);
           align-items: center;
           justify-content: center;
           position: relative;
           
        }
    }
    
   
  
